<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/profile02.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/spinners.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Trang cá nhân</title>
    
    
</head>
<body>
  <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Đang tải</p>
    </div>
  </div>
  <%- include('../layouts/leftBar') %>
  <%- include('../layouts/rightBar') %>
  <%- include('../layouts/topBar') %>
    <!-- end header and menu -->
    <div class="container">
        <div class="row" style="margin-top: 110px;">
            <div class="col-lg-12 col-12">
                <div class="row merged20" id="page-contents">
                    <div class="user-profile">
                        <%- include('../layouts/userProfile') %>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-lg-2 col-md-3">
                                    <div class="profile-author">
                                        <div class="profile-author-thumb">
                                            <img id="avatar_user" alt="author" src="<%= (currentUser._id.toString() === userSearch._id.toString()) ? currentUser.image : userSearch.image %>">
                                            <% if (currentUser._id.toString() === userSearch._id.toString()){ %>
                                                <form id="form_submit_avartar" action="" enctype="multipart/form-data">
                                                    <div class="edit-dp">
                                                        <label class="fileContainer">
                                                            <i class="fas fa-camera"></i>
                                                            <input type="file" id="file_avatar" name="avatar">
                                                        </label>
                                                    </div>
                                                </form>
                                            <% } %>
                                            
                                        </div> 
                                            
                                        <div class="author-content">
                                            <a class="h4 author-name" href="profile-02.html"><%= userSearch.username %></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-9">
                                    <ul class="profile-menu">
                                        <li>
                                            <a class="" href="/profile/<%= userSearch._id %>">Dòng thời gian</a>
                                        </li>
                                        <li>
                                            <a class="active" href="/profile/<%= userSearch._id %>/info">Thông tin</a>
                                        </li>
                                        <li>
                                            <a class="" href="/profile/<%= userSearch._id %>/friends">Bạn bè</a>
                                        </li>
                                        <li>
                                            <a class="" href="/profile/<%= userSearch._id %>/images">Ảnh</a>
                                        </li>
                                        <% if (currentUser._id.toString() === userSearch._id.toString()){ %>
                                            <li>
                                                <a  href="/profile/<%= user._id %>/group">Nhóm</a>
                                            </li>
                                            <li>
                                                <div class="more">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                    <ul class="more-dropdown">
                                                        <li>
                                                            <a href="timeline-groups.html">Nhóm</a>
                                                        </li>
                                                        <li>
                                                            <a href="statistics.html">Thống kê</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>	
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <aside class="sidebar">
                      <div class="central-meta stick-widget">
                          <span class="create-post">Thông Tin cá nhân</span>
                          <div class="personal-head">
                              <span class="f-title"><i class="fa fa-user"></i> Thông tin:</span>
                              <p>Tôi tên là <%= currentUser.username %> Hiện tại là sinh viên của đại học Duy Tân </p>
                              <span class="f-title"><i class="fa fa-birthday-cake"></i> Sinh nhật:</span>
                              <p id="day_of_bitrh"><%= currentUser.date_of_bitrh %> </p>
                              <span class="f-title"><i class="fa fa-phone"></i> Số điện thoại:</span>
                              <p><%= currentUser.phone %> </p>
                              <span class="f-title"><i class="fas fa-male"></i> Giới tính:</span>
                              <p><%= (currentUser.male == 'male') ? 'Nam' : 'Nữ' %></p>
                              <span class="f-title"><i class="fa fa-globe"></i> Nơi sinh sống:</span>
                              <p>Đà Nẵng </p>
                              <span class="f-title"><i class="fas fa-handshake"></i>Đã tham gia:</span>
                              <p id="day_join"><%= currentUser.createdAt %> </p>
                              <span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
                              <p><a href="#" title=""><%= currentUser.email %></a></p>
                          </div>
                      </div>
                      </aside>	
                  </div>
                  <div class="col-lg-8 col-md-8">
                      <div class="central-meta">
                          <span class="create-post">Thói quen & Sở thích</span>
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="gen-metabox">
                                      <span><i class="fa fa-puzzle-piece"></i> Giới thiệu</span>
                                      <p>
                                        <%= currentUser.other.introduce %>
                                      </p>
                                  </div>
                                  <div class="gen-metabox">
                                      <span><i class="fa fa-plus"></i> Sở thích </span>
                                      <p>
                                        <%= currentUser.other.interests %>
                                      </p>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="gen-metabox">
                                      <span><i class="fas fa-graduation-cap"></i> Học tập</span>
                                      <p>
                                        <%= currentUser.other.study %>
                                      </p>
                                  </div>
                                  <div class="gen-metabox">
                                      <span><i class="fa fa-certificate"></i> Kinh nghiệm</span>
                                      <p><%= currentUser.other.experience %></p>
                                  </div>
                              </div>
                          </div>	
                      </div>
                  </div>
                </div>
            </div>	
        </div>
    </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/assets/jquery/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/spinners.js"></script>
    <script src="/js/getCurrentUser.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/searchFriends.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/friends.js"></script>
    <script>
        let day_of_bitrh = new Date($('#day_of_bitrh').text());
        $('#day_of_bitrh').text(`${day_of_bitrh.getDate()} / ${day_of_bitrh.getMonth() + 1} / ${day_of_bitrh.getFullYear()}`);
        let day_join = new Date($('#day_join').text());
        $('#day_join').text(`${day_join.getDate()} / ${day_join.getMonth() + 1} / ${day_join.getFullYear()}`);
    </script>
</body>
</html>