<header class="site-header row">
    <div class="page-title">
        <strong>BẢNG TIN</strong>
    </div>
    <div class="header-search">
        <input id="search_friends" type="search" class="search" placeholder="Tìm kiếm...">
        <i class="fa fa-search"></i>
        <div class="list history">
            <ul id="list_friends_search" class="list-group ">
                <% user.requests.forEach(function(request){ %>
                    <li class="list-group-item right-menu-item">
                        <div class="user">
                            <img src="/assets/images/homes/avt-04.webp" alt="">
                        </div>
                        <div class="name">
                            <a class="accept-friend" href="#"><strong class="username">Nguyễn Duy Sơn</strong></a>
                            <p class="status friend">20 bạn chung</p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <a href="" class="find">Tìm kiếm bạn bè</a>
    <div class="inform">
        <i class="far fa-laugh icon_first_element"></i>
        <% if (user.requests.length > 0) { %>
        <div class="inform-icon" style="background: #38a9ff;">
            <p id="count_request"><%= user.requests.length %></p>
        </div>
        <% } %>
        <div class="list">
            <ul class="list-group ">
                <li class="list-group-item list-group-item-edit list-group-first">
                    <div class="name">
                        <a href="#"><p class="username">Lời mời kết bạn</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Cài đặt</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Tìm kiếm</p></a>
                    </div>
                </li>
                <% user.requests.forEach(function(request){ %>
                    <% if(request.fromTo.toString() != user._id.toString()){ %>
                        <li class="list-group-item right-menu-item">
                            <div class="user">
                                <img src="<%= request.avatar %>" alt="">
                            </div>
                            <div class="name">
                                <a href="/profile/<%= request.fromTo %>"><strong class="username"><%= request.username %></strong></a>
                                <p class="status friend">20 bạn chung</p>
                            </div>
                            <i url="/requestFriends/<%= request._id %>/accept/<%= request.fromTo %>" class="fas fa-user-plus accept_friends" style="color: #38a9ff;"></i>
                            <i url="/requestFriends/<%= user._id %>/remove" class="fas fa-user-minus block_friends" style="color: #9899a4;"></i>
                        </li>
                    <% } %>
                <% }) %>
                <li class="list-group-item list-group-item-foot" style="background-color: #38a9ff;">
                    <div class="name">
                        <a href="#"><strong class="username">Xem tất cả lời mời kết bạn</strong></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="inform">
        <i class="far fa-comments"></i>
        <div class="inform-icon" style="background: #7b59c1;">
            <p>1</p>
        </div>
        <div class="list">
            <ul class="list-group">
                <li class="list-group-item list-group-item-edit">
                    <div class="name">
                        <a href="#"><p class="username">Tin nhắn</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Cài đặt</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Đánh dấu</p></a>
                    </div>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt-04.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#"><strong class="username">Nguyễn Lương Cảnh</strong></a>
                        <p class="status friend">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div></div>
                    <i class="far fa-comments" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#"><strong class="username">Nguyễn Phước Tùng</strong></a>
                        <p class="status friend">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div></div>
                    <i class="far fa-comments" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt-02.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#"><strong class="username">Nguyễn Duy Sơn</strong></a>
                        <p class="status friend">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div></div>
                    <i class="far fa-comments" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item list-group-item-foot" style="background-color: #7b59c1;">
                    <div class="name">
                        <a href="#"><strong class="username">Xem tất cả tin nhắn</strong></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="inform">
        <i class="fas fa-bolt"></i>
        <div class="inform-icon" style="background: #fd5e3a;">
            <p>9</p>
        </div>
        <div class="list">
            <ul class="list-group">
                <li class="list-group-item list-group-item-edit">
                    <div class="name">
                        <a href="#"><p class="username">Thông báo</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Cài đặt</p></a>
                    </div>
                    <div class="name">
                        <a href="#"><p class="username">Đánh dấu</p></a>
                    </div>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt-04.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#">
                            <p class="notify username">Nguyễn Lương Cảnh<span class="notify-content"> đã bình luận bài viết của bạn.</span></p>
                        </a>
                    </div>
                    <div></div>
                    <i class="fas fa-bolt" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#">
                            <p class="notify username">Bạn <span class="notify-content"> và </span> Lương Cảnh <span class="notify-content"> vừa trở thành bạn bè.</span></p>
                        </a>
                    </div>
                    <div></div>
                    <i class="fas fa-bolt" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item right-menu-item">
                    <div class="user">
                        <img src="/assets/images/homes/avt-02.webp" alt="">
                    </div>
                    <div class="name">
                        <a href="#">
                            <p class="notify username">Nguyễn Cảnh<span class="notify-content"> đã thích bài viết của bạn.</span></p>
                        </a>
                    </div>
                    <div></div>
                    <i class="fas fa-bolt" style="color: #9899a4;"></i>
                </li>
                <li class="list-group-item list-group-item-foot" style="background-color: #fd5e3a;">
                    <div class="name">
                        <a href="#"><strong class="username">Xem tất cả thông báo</strong></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="inform seek"><!--da sua-->
        <i class="fas fa-search"></i>
    </div>
    <div class="right-menu-item user-information">
        <div class="user">
            <img src="<%= user.image%>" alt="">
            <div class="status-online"></div>
            <div class="list">
                <ul class="list-group">
                    <li class="list-group-item acc-infor acc-infor-setting">
                        <div class="name">
                            <a href="#"><p class="username">Tài khoản của bạn</p></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor" style="border-top: 1px #e6ecf5 solid;">
                        <i class="fas fa-bars"></i>
                        <div class="name">
                            <a href="#"><strong class="username">Cài đặt tài khoản</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor">
                        <i class="far fa-star"></i>
                        <div class="name">
                            <a href="#"><strong class="username">Tạo trang</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor">
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                        <div class="name">
                            <a href="/logout"><strong class="username">Đăng xuất</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor acc-infor-setting" style="border-top: 1px #e6ecf5 solid;">
                        <div class="name">
                            <a href="#"><p class="username">Cài đặt</p></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor" style="border-top: 1px #e6ecf5 solid;">
                        <div class="status-online"></div>
                        <div class="name">
                            <a href="#"><strong class="username status-01">Đang hoạt động</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor">
                        <div class="status-busy"></div>
                        <div class="name">
                            <a href="#"><strong class="username status-01">Ngoại tuyến</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor acc-infor-setting" style="border-top: 1px #e6ecf5 solid;">
                        <div class="name">
                            <a href="#"><p class="username">Thông tin khác</p></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor" style="border-top: 1px #e6ecf5 solid;">
                        <div class="name">
                            <a href="#"><strong class="username">Điều khoản & điều kiện</strong></a>
                        </div>
                    </li>
                    <li class="list-group-item acc-infor">
                        <div class="name">
                            <a href="#"><strong class="username">Liên hệ</strong></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="name">
            <a href="/profile/<%= user._id %>"><strong style="padding-left: 5px;" class="username username-01"><%= user.username %></strong></a>
        </div>
        <div class="more mt-1"><i class="fas fa-angle-down" style="color: #ffffff;font-size: 10px;"></i></div>
    </div>
</header>
<!--da sua-->
<div class="row fixed-top" style="z-index: 2;">
    <div class="col-12">
        <div class="inform-res">
            <div class="inform-res-tittle">
                <h6>LỜI MỜI KẾT BẠN</h6>
                <a href="#">CÀI ĐẶT</a>
                <a href="#">TÌM KIẾM</a>
            </div>
            <ul class="inform-res-friend">
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class="mutual-friend">4 bạn chung</span>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-user-plus" style="color: #38a9ff;"></i>
                        <i class="fas fa-user-minus" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-03.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class="mutual-friend">54 bạn chung</span>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-user-plus" style="color: #38a9ff;"></i>
                        <i class="fas fa-user-minus" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-01.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class="mutual-friend">2 bạn chung</span>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-user-plus" style="color: #38a9ff;"></i>
                        <i class="fas fa-user-minus" style="color: #9899a4;"></i>
                    </span>
                </li>
            </ul>
            <a href="#" class="inform-res-footer" style="background-color: #38a9ff;">Xem tất cả lời mời kết bạn</a>
        </div>
    </div>
</div>
<div class="row fixed-top" style="z-index: 2;">
    <div class="col-12">
        <div class="inform-res">
            <div class="inform-res-tittle">
                <h6>TIN NHẮN</h6>
                <a href="#">CÀI ĐẶT</a>
                <a href="#">ĐÁNH DẤU</a>
            </div>
            <ul class="inform-res-friend">
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class=" mutual-friend last-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, possimus quae ut doloremque qui adipisci accusantium quod non.</span>
                    </div>
                    <span class="notify-icon">
                        <i class="far fa-comments" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class=" mutual-friend last-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, possimus quae ut doloremque qui adipisci accusantium quod non.</span>
                    </div>
                    <span class="notify-icon">
                        <i class="far fa-comments" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <a href="" class="h6 friend-name">Nguyễn Phước Tùng</a>
                        <span class=" mutual-friend last-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, possimus quae ut doloremque qui adipisci accusantium quod non.</span>
                    </div>
                    <span class="notify-icon">
                        <i class="far fa-comments" style="color: #9899a4;"></i>
                    </span>
                </li>
            </ul>
            <a href="#" class="inform-res-footer" style="background-color: #7b59c1;">Xem tất cả tin nhắn</a>
        </div>
    </div>
</div>
<div class="row fixed-top" style="z-index: 2;">
    <div class="col-12">
        <div class="inform-res">
            <div class="inform-res-tittle">
                <h6>THÔNG BÁO</h6>
                <a href="#">CÀI ĐẶT</a>
                <a href="#">ĐÁNH DẤU</a>
            </div>
            <ul class="inform-res-friend">
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <div>
                            <a href="" class="h6 friend-name">Nguyễn Phước Tùng<span> đã bình luận bài viết của bạn.</span></a>
                        </div>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-bolt" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <div>
                            <a href="" class="h6 friend-name">Nguyễn Phước Tùng<span> đã thích bài viết của bạn.</span></a>
                        </div>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-bolt" style="color: #9899a4;"></i>
                    </span>
                </li>
                <li>
                    <div class="author-avatar">
                        <img src="/assets/images/homes/avt-04.webp" style="width: 34px;height: 34px;">
                    </div>
                    <div class="notify-request">
                        <div>
                            <a href="" class="h6 friend-name">Bạn<span> và </span>Lương Cảnh<span> vừa trở thành bạn bè.</span></a>
                        </div>
                    </div>
                    <span class="notify-icon">
                        <i class="fas fa-bolt" style="color: #9899a4;"></i>
                    </span>
                </li>
            </ul>
            <a href="#" class="inform-res-footer" style="background-color: #fd5e3a;">Xem tất cả thông báo</a>
        </div>
    </div>
</div>
<div class="row fixed-top" style="z-index: 2;">
    <div class="col-12">
        <div class="seek-form">
            <input type="search" class="seek-input" placeholder="Tìm kiếm...">
            <div class="history list-seek">
                <ul class="list-group list-group-seek">
                    <li class="list-group-item right-menu-item">
                        <div class="user">
                            <img src="/assets/images/homes/avt-04.webp" alt="">
                        </div>
                        <div class="name">
                            <a href="#"><strong class="username">Nguyễn Lương Cảnh</strong></a>
                            <p class="status friend">20 bạn chung</p>
                        </div>
                    </li>
                    <li class="list-group-item right-menu-item">
                        <div class="user">
                            <img src="/assets/images/homes/avt.webp" alt="">
                        </div>
                        <div class="name">
                            <a href="#"><strong class="username">Nguyễn Phước Tùng</strong></a>
                            <p class="status friend">20 bạn chung</p>
                        </div>
                    </li>
                    <li class="list-group-item right-menu-item">
                        <div class="user">
                            <img src="/assets/images/homes/avt-03.webp" alt="">
                        </div>
                        <div class="name">
                            <a href="#"><strong class="username">Nguyễn Duy Tuấn</strong></a>
                            <p class="status friend">10 bạn chung</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>