<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/perfect-scrollbar/css/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/morrisjs/morris.css">
  <link rel="stylesheet" href="/assets/c3-master/c3.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/assets/css/dashboard1.css">
  <link rel="stylesheet" href="/assets/css/default.css">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>

<body class="fix-header fix-sidebar card-no-border">
  <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Đang tải</p>
    </div>
  </div>
  <div id="main-wrapper">
    <%- include('layouts/topBar') %>
    <%- include('layouts/sideBar')  %>
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Tổng quan</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <div class="col-md-7 align-self-center">
            <a href="https://www.wrappixel.com/templates/adminwrap/"
              class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down text-white"> Upgrade to
              Pro</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <div class="d-flex no-block">
                  <div>
                    <h5 class="card-title mb-0">Sales Chart</h5>
                  </div>
                  <div class="ms-auto">
                    <ul class="list-inline text-center font-12">
                      <li><i class="fa fa-circle text-success"></i> Bài đăng</li>
                      <li><i class="fa fa-circle text-info"></i> Người dùng</li>
                      <li><i class="fa fa-circle text-primary"></i> Báo cáo</li>
                    </ul>
                  </div>
                </div>
                <div class="" id="sales-chart" style="height: 355px;"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex mb-4 no-block">
                  <h5 class="card-title mb-0 align-self-center">Người dùng</h5>
                  <div class="ms-auto">
                    <select class="form-select b-0">
                      <option selected="">Hôm nay</option>
                      <option value="1">Hôm qua</option>
                    </select>
                  </div>
                </div>
                <div id="visitor" style="height:260px; width:100%;"></div>
                <ul class="list-inline mt-4 text-center font-12">
                  <li><i class="fa fa-circle text-purple"></i> Ngoại tuyến</li>
                  <li><i class="fa fa-circle text-success"></i> Đoạt động</li>
                  <li><i class="fa fa-circle text-info"></i> Đã khóa</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-flex">
                  <div>
                    <h5 class="card-title">Bài đăng nổi bật</h5>
                  </div>
                  <div class="ms-auto">
                    <select class="form-select b-0">
                      <option selected="">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                    </select>
                  </div>
                </div>
                <div class="table-responsive mt-3 no-wrap">
                  <table class="table vm no-th-brd pro-of-month">
                    <thead>
                      <tr>
                        <th colspan="2">Tài khoản</th>
                        <th>Bài đăng</th>
                        <th>Ngày đăng</th>
                        <th>Bình luận</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% results.forEach(function(post){  %>
                        <tr class="active">
                          <td style="width: 50px;"><span class="round"><img src="<%= post.ofUser.avatar %>" alt="user" width="50" height="50"></span>
                          </td>
                          <td>
                            <h6><%= post.ofUser.username %></h6><small class="text-muted"><%= post.ofUser.phone %></small>
                          </td>
                          <td><a href="/posts/<%= post._id %>"><%= post.content %></a></td>
                          <td><%= post.ofUser.datePost %></td>
                          <td><%= post.comment.length %></td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body">
                <h5 class=" card-title">Thông báo mới nhất</h5>
                <span class="label label-info label-rounded">thông báo</span>
                <p class="mb-0 mt-3"><%= postAdmin[0].content %></p>
                <div class="d-flex mt-3">
                  <a class="link" href="javascript:void(0)"><%= new Date(postAdmin[0].createdAt).getDate()+"-" +(new Date(postAdmin[0].createdAt).getMonth() + 1) + "-" + new Date(postAdmin[0].createdAt).getFullYear() %></a>
                  <div class="ms-auto align-self-center">
                    <a href="javascript:void(0)" class="link me-2"><i class="fa fa-heart-o"></i></a>
                    <a href="javascript:void(0)" class="link me-2"><i class="fa fa-share-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-body mailbox">
              <h5 class="card-title">Notification</h5>
              <div class="message-center" style="height: 420px !important;">
                <% listGroup.forEach(function(group){  %>
                  <a href="#">
                    <div class="btn btn-success btn-circle"><i class="fa fa-calendar-check-o"></i></div>
                    <div class="mail-contnet">
                      <h6 class="text-dark font-medium mb-0"><%= group.title %></h6> <span class="mail-desc"><%= group.members.length%> thành viên
                        </span> <span class="time"><%= new Date(group.createdAt).getDate()+"-" +(new Date(group.createdAt).getMonth() + 1) + "-" + new Date(group.createdAt).getFullYear() %></span>
                    </div>
                  </a>
                <% }) %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Feeds</h5>
                <ul class="feeds">
                  <li>
                    <div class="bg-light-info"><i class="fa fa-bell-o"></i></div> You have 4 pending
                    tasks. <span class="text-muted">Just Now</span>
                  </li>
                  <li>
                    <div class="bg-light-success"><i class="fa fa-server"></i></div> Server #1
                    overloaded.<span class="text-muted">2 Hours ago</span>
                  </li>
                  <li>
                    <div class="bg-light-warning"><i class="fa fa-shopping-cart"></i></div> New
                    order received.<span class="text-muted">31 May</span>
                  </li>
                  <li>
                    <div class="bg-light-danger"><i class="fa fa-user"></i></div> New user
                    registered.<span class="text-muted">30 May</span>
                  </li>
                  <li>
                    <div class="bg-light-inverse"><i class="fa fa-bell-o"></i></div> New Version
                    just arrived. <span class="text-muted">27 May</span>
                  </li>
                  <li>
                    <div class="bg-light-info"><i class="fa fa-bell-o"></i></div> You have 4 pending
                    tasks. <span class="text-muted">Just Now</span>
                  </li>
                  <li>
                    <div class="bg-light-danger"><i class="fa fa-user"></i></div> New user
                    registered.<span class="text-muted">30 May</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer"> © 2021 Adminwrap by <a href="https://www.wrappixel.com/">wrappixel.com</a> </footer>
    </div>
  </div>
  <script src="/assets/jquery/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="/js/waves.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/custom.min.js"></script>
  <script src="/assets/raphael/raphael-min.js"></script>
  <script src="/assets/morrisjs/morris.min.js"></script>
  <script src="/assets/d3/d3.min.js"></script>
  <script src="/assets/c3-master/c3.min.js"></script>
  <script src="/js/dashboard1.js"></script>
</body>

</html>